<script>
  window.onload = function() { 
    var container = document.querySelector('.main'),
        heightW   = window.innerHeight,
        heightC   = container.clientHeight;

    if ( heightW > heightC ) {
      var difHeight = (heightW - heightC) / 2;
      container.style.marginTop = difHeight + 'px';
    }
  };
</script>

<script>
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
  function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
  e=o.createElement(i);r=o.getElementsByTagName(i)[0];
  e.src='//www.google-analytics.com/analytics.js';
  r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
  ga('create','UA-40861700-1');ga('send','pageview');
</script>