<header class="site-header">

  <img class="avatar" src="img/avatar.jpg" alt="Lucas Vilaboim - front-end developer">
  <h1>Hi, I'm Lucas and I am a front-end developer.</h1>
  <h1>I work at <a href="{{ site.work_link }}" title="{{ site.work_name }}">Cubo Amarelo</a> creating amazing products.</h1>

  <ul class="redes">
    <li><a href="https://github.com/{{ site.github_username }}" title="Github">Github</a></li>
    <li><a href="https://www.behance.net/{{ site.behance_username }}" title="Behance">Behance</a></li>
    <li><a href="https://www.facebook.com/{{ site.facebook_username }}" title="Facebook">Facebook</a></li>
    <li><a href="{{ site.linkedin_link }}" title="LinkedIn">LinkedIn</a></li>
  </ul>

</header>
